/*
Partie pour produit 1(cédric)
*/
.titre1{
    color: rgb(235, 0, 0);
}
.produit1{
    float: left;
    width: 50%;
}
.produit2{
    float: left;
    width: 50%;
}
.imageStick{
    width: 25%;
    height: 25%;
}