/*
Partie pour produit 1(cédric)
*/
.titre1{
    color: rgb(235, 0, 0);
}
.produit1{
    float: left;
    width: 50%;
}
.produit2{
    float: left;
    width: 50%;
}
.imageStick{
    float: left;
    width: 30%;
    height: 30%;
    background-color: lightgrey;
}
.headerP1{
    background-color: blue;
    color: black;
    text-align: center;
    
}
.descpP1{
    
    float: left;
    background-color: lightgray;
    font-size:large;
    width: 50%;
}