.headerP2{
    text-align: center;
    background-color: #ffa600c2;
    color: white;
    margin: auto;
    padding: 1%;
}
.liencat2{
    text-decoration: none;
    color: black;
    font-size: large;
}

.div2{
    margin: auto;
    padding: 1%;
    float: left;
    width: 45%;
    margin-top: 5%;
}
.lienP3{
    color: black;
    text-align: center;
    margin: 0%;
}

.titreL1{
    color: black;
    text-align: center;
    margin: 0%;
    text-decoration: none;
}
.headersport{
    text-align: center;
    background-color: #ffa600c2;
    color: white;
    margin: auto;
    padding: 1%;
}
.titrep3{
    color: black;
    text-align: center;
    margin: 0%;
}
.div1{
    margin: auto;
    padding: 1%;
}
.descpP3{    
    padding: 1%;
    position: relative;
    left: 15%;
    width: 75%;
    font-size: larger;
}
.Prixp3{
    width: 25%;
    text-align: center;
    padding: 1%;
    
}
.image{
    float: left;
    width: 35%;
    height: 35%;
}